:root {
    --primary-color: #F5CF06;
    --second-color: #8E4106; 

}

body {
    height: 100vh;
    background-color:aqua;
    display: flex;
    flex-direction: column
}
header {
    background-color: #8E4106;
}

main {
    background-color: #f506e1;
    flex-grow: 1;
}

footer {
    background-color: aliceblue;
}