:root {
    --primary-color: #F5CF06;
    --second-color: #8E4106; 

}

body {
    height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    padding: 70px;
    font-family: Righteous;
}
header {

    display: flex;
    align-items: center;
    gap: 16px;

}

header span {
    font-size: 32px;
    color: var(--second-color)
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.sombra {
    position: absolute;
    font-size: 19vh;
    color: #ffffff55;
    z-index: -999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -90%);
}

h1{
    flex-grow: 1;
    font-size: 25vw;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteiner {
    height: 154px;
    padding-bottom: 75px;
    color: var(--second-color);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}

.conteiner h2 {
    font-size: 64px;

}

.conteiner p{
    font-size: 20px;
    width: 500px;

}

.conteiner a{
    width: 411px;
    height: 100px;
    font-size: 48px;
    background-color: var(--second-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.pikachu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer {
    text-align: center;
    color: var(--second-color);
}


/*TABLET */
@media (max-width: 1024px){
    body {
        padding: 30px;
    }
    .sombra {
        transform: translate(-50%, -180%);
    }
    h1{
        transform: translate(0, -30%);
    }
    .conteiner{
        flex-direction: column;
        height: auto;
        align-items: center;
        padding: 0;
        gap: 8px;
    }
    .descricao p {
        text-align: center;
    }
    .pikachu {
        transform: translate(-45%, -50%);
    }
    footer {
        display: none;
    }

}

/*MOBILE*/
@media (max-width: 400px) {

}