:root {
    --primary-color: #F5CF06;
    --second-color: #8E4106; 

}

body {
    height: 100vh;
    background-color: var(--primary-color);
    flex-direction: column;
    display: flex;
    padding: 70px;
    font-family: Righteous, sans-serif;
}
header {

    display: flex;
    align-items: center;
    gap: 16px;

}

header span {
    font-size: 32px;
    color: var(--second-color)
}

main {
    display: flex;
    flex-direction: column; 
    flex-grow: 1;

}

h1{
    flex-grow: 1;
    font-size: 20vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteiner {
    height: 154px;
    padding-bottom: 75px;
    color: var(--second-color);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}

.conteiner h2 {
    font-size: 64px;

}

.conteiner p{
    font-size: 20px;
    width: 500px;

}

.conteiner a{
    width: 411px;
    height: 100px;
    font-size: 48px;
    background-color: var(--second-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.sombra {
    position: absolute;
    font-size: 28vw;
    color: #ffffff55;
    z-index: -999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -90%);
}

.pikachu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer {
    text-align: center;
    color: var(--second-color);
}


/*TABLET */
@media (max-width: 1024px){
    body {
        padding: 30px;
    }
    .sombra {
        transform: translate(-50%, -180%);
    }
    h1{
        transform: translate(0, -30%);
    }
    .conteiner{
        flex-direction: column;
        height: auto;
        align-items: center;
        padding: 0;
        gap: 8px;
    }
    .descricao p {
        text-align: center;
    }
    .descricao {
        z-index: 1;
    }
    .pikachu {
        transform: translate(-45%, -50%);
    }
    footer {
        display: none;
    }

}

/*MOBILE*/
@media (max-width: 480px) {
    .descricao p {
        display: none;
    }
.sombra {
    transform: translate(-50%, -220%);
}
h1 {
    transform: translate(0, -22%);
}
.descricao h2 {
    font-size: 38px;
}
.conteiner a{
    width: 100%;
}
.pikachu {
    height: 50vh;
}

}